/* :root{
    --main-color:;
    --main-background-color:;
    --main-font-style:;
} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1100px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    width: 300px;
    height: 300px;
    background-image: linear-gradient(45deg,
        rgb(55, 121, 38) 20%,
        rgb(66, 162, 221) 40%,
        rgb(196, 81, 100) 60%,
        rgb(140, 216, 59) 80%,
        rgb(169, 69, 192) 100%
    );
}
